@{
    Layout="Shared/_Layout.cshtml";
}
<div class="row">
    <h1>@Model["category"].GetCategoryName()</h1>

</div>
<div class="row">
        @foreach (var recipe in @Model["recipes"])
        {
            <h3><a href="/recipe/@recipe.GetRecipeId()/@recipe.GetRecipeName()">@recipe.GetRecipeName()</a> - <em>@recipe.GetDescription()</em></h3>
        }

</div>
