@{
    Layout="Shared/_Layout.cshtml";
}

<form class="" action="categories.cshtml" method="post">
        <input type="text" name="category-name" placeholder="Category name">
        <button type="submit" name="button" class="btn btn-sm">Add Category</button>
</form>
