@{
    Layout="Shared/_Layout.cshtml";
}
<div class="row">
    <img id="elzarpic" src="https://s-media-cache-ak0.pinimg.com/736x/9c/d6/bf/9cd6bf31b5e4f58a0713965f8d03708a.jpg" alt="A picture of Elzar with a spice weasel">
</div>
