@import url('https://fonts.googleapis.com/css?family=Ek+Mukta');

.btn {
    background-color: #8D82E1;
    color: #B7FDF4;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    border: solid #CA8DF2;
    box-shadow: rgba(0, 0, 0, 0.25) -2px 2px;
}
input {
    border-radius: 2px;
    color: black;
}

.btn:hover {
    background-color: #C14C06;
    border: solid #AD7F43;
    color: 	#C79B7B;
}

body {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Ek Mukta', sans-serif;

}

html {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#elzarpic {
    opacity: .9;
    border-radius: 10px;
}

/*.jumbotron {
    background-image: url(/content/img/elzarscuisine.png);
    background-size: Auto;
    background-repeat: no-repeat;
}*/

.jumbotron {
    background-image: url(/content/img/elzarscuisine.png);
    background-color: #17234E;
    margin-bottom:12px;`
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
    height: 325px;
    padding-top: 20%;
    opacity: .9;
}
